@font-face {
  font-family: poppins;
  src: url(./src/assets/fonts/Poppins-Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #CDCDCD;
  font-family: poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #373737;
  height: 100vh;
}

#mainSession{
  display: flex;
  flex-direction: column;
  width: 340px;
}

#isIt{
  margin: 0;
  font-size: 18px;
}

#mainTitle{
  display: flex;
  gap: 10px;
}

#subtitle{
  text-align:start;
  font-size: 15px;
  
}


#operators{
  display: flex;
  gap: 12px;
}

.buttons{
  margin-top: 20px;
  width: 70px;
  height: 70px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: 150ms;
}

.buttons:hover{
  background-color: #9e9e9e;
  width: 73px;
  height: 73px;
  transition: 150ms;
}



#start{
  width: 236px;
  height: 60px;
  border-style: none;
  border-radius: 12px;
  background-color: #373737;
  font-size: 24px;
  color: #ebebeb;
  cursor: pointer;
  margin-top: 30px;
}

#start:hover{
  background-color: #ebebeb;
  color: #373737;
  width: 240px;
  height: 60px;
  transition: 150ms;
}

.containerButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  gap: 8px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 10vh;
  font-size: 12px;
}

#call{
  margin: 0px;
}