@font-face {
  font-family: poppins;
  src: url(./src/assets/fonts/Poppins-Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #CDCDCD;
  font-family: poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #373737;
  height: 80vh;
}

#mainSession{
  display: flex;
  flex-direction: column;
  width: 340px;
}


#mainTitle{
  display: flex;
  gap: 10px;
}

#subtitle{
  text-align:start;
  font-size: 15px;
  
}

#cut{
  height: 2px;
  width: 340px;
  background-color: #757575;
  border-radius: 20px;
}

#operators{
  display: flex;
  gap: 12px;
}

.buttons{
  width: 70px;
  height: 70px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: 150ms;
}

.buttons:hover{
  width: 73px;
  height: 73px;
  transition: 150ms;
}

#start{
  margin-top: 50px;
  width: 320px;
  height: 60px;
  border-style: none;
  border-radius: 12px;
  background-color: #373737;
  font-size: 24px;
  color: #ebebeb;
  cursor: pointer;
}

#start:hover{
  background-color: #ebebeb;
  color: #373737;
  width: 330px;
  height: 60px;
  transition: 150ms;
}

.containerButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  gap: 8px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 10vh;
  font-size: 12px;
}